# --------------------
# OS Files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
extension/dist-firefox/

# Virtual Environments
venv/
env/
.venv/
Flask-Api/flaskapi/

# --------------------
# No Node
# --------------------


# --------------------
# IDE
# --------------------
.vscode/
.idea/
*.iml

# --------------------
# Logs
# --------------------
*.log

# --------------------
# Environment Variables
# --------------------
.env

# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/

# --------------------
# Data Files
# --------------------
*.csv
*.xlsx
*.xls
*.json
*.db

# Keep required extension config files
!extension/package.json
!extension/manifest.json

# Allow ONLY these CSV files
!backend/scanner-app/src/main/resources/top-1m-Tranco.csv
!backend/scanner-app/src/main/resources/top-1m-umbrella.csv

# --------------------
# ML Models
# --------------------
*.pt
*.pth
*.h5
*.ckpt
*.onnx

# --------------------
# Java / Maven
# --------------------
target/
*.class
HELP.md

# Keep Maven wrapper + config
!mvnw
!mvnw.cmd
!pom.xml

# Ignore sensitive config
backend/scanner-app/src/main/resources/application.properties

# --------------------
# Android
# --------------------
.gradle/
local.properties
*.apk
build/

# --------------------
# Misc
# --------------------
coverage/
.cache/

# --------------------
# Firebase Keys
# --------------------
serviceAccountKey.json
# Keep web app config
!web/**/*.json
!web/package-lock.json

# Password hashing File for the admin registration
passGen.py
